@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color : #21BF48;
    --sub-color : #767676;
    --back-color : #F2F2F2;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

body {
    font-family:'SpoqaHanSansNeo-Regular';
}

/*header*/
header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
}

header h1 img {
    width: 124px;
    height: 38px;
}

header form > input {
    width: 400px;
    height: 46px;
    margin-left: 30px;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    color: var(--sub-color);
    background-image: url(/assets/search.png);
    background-repeat: no-repeat;
    background-position: center right 22px;
    background-size: 28px;
}

header form > input::placeholder {
    padding-left: 22px;
}

/*nav*/
header nav ul {
    display: flex;
    gap: 26px;
    margin-left: 598px;
}

header nav ul li button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

header nav ul li button p {
    color: var(--sub-color);
    font-size: 12px;
}

header nav ul li:nth-child(2) img {
    padding-left: 9px;
}
