<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <h1>
            <img src="/assets/Logo-hodu.png" alt="HODU">
        </h1>
        <form action="" method="get">
            <label for="">상품 검색하기</label>
            <input type="text" placeholder="상품을 검색해보세요!">
            <button type="submit" class="sr-only"></button>
        </form>
        <nav>
            <ul>
                <li>
                    <button>
                        <img src="/assets/icon-user.svg" alt="">
                        <p>마이페이지</p>
                    </button>
                </li>
                <li>
                    <button>
                        <img src="../assets/icon-shopping-bag.svg" alt="">
                        <p>판매자 센터</p>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>